/* 
    Document   : soft
    Created on : 17.5.2012, 16:54:29
    Author     : mbp
    Description:
        Purpose of the stylesheet follows.
*/

* { 
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

#wrapper {
    width: 990px;
    height: 677px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -338px 0px 0px -495px;
}

#wrap-header {
    width: 720px;
    height: 36px;
    background: url("/images/web/header-top.png");
    padding: 55px 0px 0px 270px;
}

#wrap-header h1 {
    font-size: 19px;
    font-weight: bold;
    color: #404040;
    padding: 0px;
    margin: 0px;
}

#menu-column {
    float: left;
    height: 540px;
    width: 229px;
    background-color: #6b6b6b;
}

#rozsirovac {
    width: 11px;
    height: 540px;
    float: left
}

#contenter {
    background-color: #9f9f9f;
    height: 540px;
    width: 750px;
    float: left;
    
    
  background-image: -moz-linear-gradient(
    left, 
    rgba(107,107,107,.5), 
    rgba(107,107,107,0) 10%, 
    rgba(107,107,107,0) 90%, 
    rgba(107,107,107,.5)
  ), -moz-linear-gradient(
    top, 
    rgba(107,107,107,.5), 
    rgba(107,107,107,0) 10%, 
    rgba(107,107,107,0) 90%, 
    rgba(107,107,107,.5)
  );
  background-image: -webkit-gradient(
    /* webkit's syntax for the same horizontal gradient */
    ), -webkit-gradient(
    /* webkit's syntax for the same vertical gradient */
    );

}

#wrap-bottom {
    height: 46px;
    width: 990px;
    background: url("/images/web/bottom.png"); 
}

#menu-column { overflow-y: scroll }
#menu-column ul {margin:0px; padding:0px}
#menu-column li {list-style-type: none;}
#menu-column li a {color: #FFF; text-decoration: none; font-size: 14px; font-weight: bold; display: block; height: 30px; padding: 10px 0px 0px 0px; border-bottom: 1px solid #d7d7d7}
#menu-column li a.active {color: #000000; background-image: url('/images/web/active-bg.png'); background-repeat: no-repeat}

.header { height: 35px; background-color: #eeeeee; margin: 15px 15px 0px 15px; font-size: 18px; font-weight: bold; color: #404040; padding: 10px 0px 0px 15px; }
.main { margin: 3px 15px 0px 15px; overflow-y: scroll; }
.sipky { float: right; margin: 7px 30px 0px 0px }
.zalozky { float: right; margin: 13px 30px 0px 0px}
.zalozky a.normal_zal { display: block; float: left; text-decoration: none; width: 18px; height: 18px; text-align: center; margin-left: 3px; font-size: 12px; color: #FFF; background: url("/images/web/normal_zal.png")}
.zalozky a.active_zal { display: block; float: left; text-decoration: none; width: 18px; height: 18px; text-align: center; margin-left: 3px; font-size: 12px; color: #FFF; background: url("/images/web/active_zal.png")}

.clear {
    clear: both;
}